<nav class="nav-extended">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Socialnet</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a >Sass</a></li>
        <li><a >Components</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <div class="nav-div">
        <img class="circle responsive-img" src="http://placehold.it/50x50" >
      </div>
      <h1 class="profile-name">Yossi</h1>
      <p class="user-text">test test testttt</p>
    </div>
  </div>
</nav>
